<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Blog Site</title>
    <div class="header">
      <nav class="navbar-center">
        <h1 class="logo">Daily Journal</h1>
        <ul class="nav-list">
          <li class="nav-links"><a class="link-trans" href="/">Home</a></li>
          <li class="nav-links"><a class="link-trans" href="/about">About Us</a></li>
          <li class="nav-links"><a class="link-trans" href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </head>