<%- include("partials/header") -%>
<body>
    <h1>Compose</h1>
    <form action="/" method="post">
        <p>Title</p>
        <input type="text" name="postTitle" class="postTitle">
        <p>Post</p>
        <textarea class="postTitle" type="text" name="postContent" cols="120" rows="10">
        </textarea></br>
        <button class="button" type="submit" name="button">Publish</button>
    </form>
</body>
<%- include("partials/footer") -%>